In [3]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
from pandas import set_option
set_option('display.max_rows', 10)
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import sklearn
import statsmodels as stm
import patsy
import pymc

In [5]:
#loading the allcars dataset from Yun Solutions
data = pd.read_csv('allcars.csv', nrows = 240000)
dfv1 = pd.DataFrame(); dfv2 = pd.DataFrame();

,Unnamed: 0,timeStamp,tripID,accData,gps_speed,battery,cTemp,dtc,eLoad,iat,imap,kpl,maf,rpm,speed,tAdv,tPos,deviceID
0,0,2017-10-31 18:45:59.000000,0,ffb0fd700220fff43fffe74808e73e03f33400ef33fbe1...,2.2,14.48,NaN,NaN,44.313725,NaN,NaN,0.0,0.0,903.0,4.0,NaN,15.686275,1
1,1,2017-10-31 18:46:00.000000,0,00b0fda802e804e14104ed3d01ee3a08ec4c04f738fbd5...,3.7,14.48,NaN,NaN,35.294118,NaN,NaN,0.0,0.0,938.0,6.0,NaN,15.294118,1
2,2,2017-10-31 18:46:01.000000,0,00f0fe5002b0fdea4009e33c01ed3701ec4100f53b05e8...,3.9,14.54,NaN,NaN,29.411765,NaN,NaN,0.0,0.0,1044.5,7.0,NaN,14.901961,1
3,3,2017-10-31 18:46:02.000000,0,0120fdc0028804e03c10de3a09e8400ce43b0ae63b01f4...,3.9,14.56,NaN,NaN,53.725490,NaN,NaN,0.0,0.0,1102.0,7.0,NaN,17.647059,1
4,4,2017-10-31 18:46:03.000000,0,00a0fde802d816e0370ae73604e23b04e53900e542ffea...,4.7,14.48,NaN,NaN,75.686275,NaN,NaN,0.0,0.0,1626.5,10.0,NaN,23.529412,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,16061,2017-09-21 20:10:25.000000,2,0cf800a007a00008c50108c30008c3000ac20108c40008...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4
239996,16062,2017-09-21 20:10:26.000000,2,0cc000e007880109c4010ac40008c3ff08c4ff09c30009...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4
239997,16063,2017-09-21 20:10:27.000000,2,0cc800f807d00109c40009c40009c40009c30009c40109...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4
239998,16064,2017-09-21 20:10:28.000000,2,0cb000c80780010ac50008c20109c30008c4ff09c40109...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4
239999,16065,2017-09-21 20:10:29.000000,2,0ca800f007980009c50108c3ff07c20008c20108c30009...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4